<!DOCTYPE html>
<html>
<head>
  <title>Training Central</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="header">
    <h1>Training Central</h1>
  </div>
  
  <div id="nav">
    <%= link_to "Home", root_path, :class => current_nav?('home#index') %>
    <%= link_to "Roster", attendees_path, :class => current_nav?('attendees#index') %>
    <%= link_to "Communications", communications_path, :class => current_nav?('home#communications') %>
  </div>
  
  <div id="main">
    <div id="hands">
      Raised Hands: Jack Shepard
    </div>
    
    <%= yield %>
  </div>

  <div id="footer">
    a Scott Johnson and Mark McSpadden production
  </div>
</body>
</html>
